%h1 Editing Entry

= render 'form', blog: @blog, entry: @entry

.d-flex.flex-row.mt-2
  = link_to 'Show', blog_entry_path(@blog, @entry), class: "btn btn-link"
  = link_to 'Back', @blog, class: "btn btn-link"
