- if flash.any?
  - flash.each do |name, message|
    %div{class: "alert alert-#{name == 'notice' ? 'success' : 'warning'} alert-dismissible m-2", role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"}, aria: {label: "Close"}}
        %span{aria: {hidden: "true"}} &times;
      = message
