%nav.navbar.navbar-expand-lg.nabvar-light.bg-light
  = link_to "Blog Manager", root_path, id: "logo", class: "navbar-brand"
  %ul.navbar-nav.mr-auto
    %li.nav-item
      = link_to "blogs", blogs_path, class: "nav-link"
